*{
    margin: 0;
    padding: 0;
}

h2{
    text-align: center;
    padding-bottom: 15px;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: aliceblue;
}

.container{
    background-color: white;
    padding: 32px;
    border-radius: 15px;
    min-height: 40vh;
    width: 40vh;
}

form{
    margin: 2rem 0 2rem 0;
}

select, 
input,
button{
    width: 100%;
    border: none;
    outline: none;
    border-radius: 10px;
}

input{
    border: 1px solid lightgray;
    font-size: 15px;
    height: 35px;
    padding-left: 12px;
}

.dropdown{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.dropdown img{
    max-width: 30px;
    padding-left: 5px;
}

.dropdown i{
    font-size: 25px;
    padding-top: 15px;
}

.dropdown-container{
    display: flex;
    width: 90px;
    justify-content: center;
    align-items: center;
    border: 0.3px solid darkgray;
    border-radius: 7px;
}

.msg{
    text-align: center;
    margin-bottom: 20px;
}

button{
    height: 35px;
    background-color: blueviolet;
    color: white;
    cursor: pointer;
}